Habeeb.xlsx
contacts.xlsx
habeeb2024.xlsx
habeeb2025.xlsx
Shakir.xlsx
shakir2024.xlsx
Contacts(H) (Autosaved).xlsx
Contacts(M).xlsx
Contacts(S).xlsx
Contacts(H).xlsx
~$contacts.xlsx
~$Habeeb.xlsx
processed_numbers.txt
~$Shakir.xlsx